.set-box-login{
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  background-image:url('/assets/image/bg.png');
  background-size: 100%;
}
.login-container {
    max-width: 600px;
    min-width: 450px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    /* margin-top: 50px; */
  }
.logo{
  width: 200px;
} 
p{
  font-size: 24px;
}
.login_heading{
  text-align: center;
}
.error_all input,button {
  border-bottom: 2px solid red;
}
.form-group {
  margin-bottom: 15px;
}
.text-line {
  background-color: transparent;
  color: black;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black 1px;
  padding: 3px 10px;
}
.error-code-student{
  color: red;
  margin-top: 4px;
  font-size: 8x;
}
.error-password{
  color: red;
  margin-top: 4px;
  font-size: 8x;
}

.space-between{
  display: flex;
  justify-content: space-between;
}
.remember-password label{
  display: grid;
  grid-template-columns: 30px auto;
}
label {
  display: block;
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(96, 40, 255, 1);
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  /* width: 200px;
  height: 50px; */
  font-size: 16px;
  margin-bottom: 32px;
}
.register{
  margin: auto;
  padding-right: 0px;
}
.register-2{
  margin-right: 18px;
}
  