<div class="forgot-password-container">
  <div class="center-forgot-password">

    <div class="forgot-password">
        <p>ลืมรหัสผ่าน</p>
    </div>
    <form>
      <label for="username">รหัสนิสิต</label>
      <input class="text-line" type="text" id="username" name="username" [(ngModel)]="code_student" [maxlength]="8" required>
  
      <label for="password">รหัสผ่าน</label>
      <input class="text-line" type="password" id="password" name="password" required>
  
      <label for="confirmPassword">ยืนยันรหัสผ่าน</label>
      <input class="text-line" type="password" id="confirmPassword" name="confirmPassword" required>
      <label>
        <input type="checkbox" [(ngModel)]="rememberPassword">
        <span>จดจำรหัสผ่าน</span> 
      </label>
      <button (click)="forgotpassword()" [disabled]="!isValidForm()" type="submit">เปลี่ยนรหัสผ่าน</button>
    </form>
  </div>
  </div>
  