<div class="background">
    <div class="feed-background">
        <div class="post">
            <div class="heading">
                <div class="post-profile">
                    <img class="icon-profile" src="../../assets/image/profile.png" alt="Post Profile">
                    <div class="post-user-name">{{activity.addBy.first_name}} {{activity.addBy.last_name}}</div>
                    <img class="hamburger" (click)="togglePopup()" src="../../assets/image/Group.png" alt="Hamburger-Dot" height="20px">
                    <div class="popup-menu" [ngClass]="{'show': showPopup}">
                        <!-- <span class="close" (click)="togglePopup()">&times;</span> -->
                        <button (click)="editPost()">แก้ไขโพสต์</button>
                        <button (click)="deletePost()">ลบโพสต์</button>
                    </div>
                </div>
                <div class="post-text">
                    <!-- <div class="post-name-activity">ชื่อกิจกรรม</div> -->
                    <div class="post-name-activity">{{activity.nameActivity}}</div>

                    <!-- <div class="post-date">วันที่</div> -->
                    <div class="post-date">
                        <span >{{activity.dateTimeStart|date:"dd-MM-YYYY"}}</span>
                        <span *ngIf="activity.dateTimeEnd">-</span>
                        <span *ngIf="activity.dateTimeEnd">{{activity.dateTimeEnd}}</span>

                    </div>

                    <!-- <div class="post-location">สถานที่</div> -->
                    <div class="post-location">{{activity.location}}</div>
                    
                </div>
                <div class="post-detail" *ngIf="activity.details">{{activity.details}}</div>
                <div class="post-limk" routerLink="/">ลิ้งค์</div>
            </div>
            <div class="position-image" >
                <img class="post-image" *ngFor="let i of activity.asset" [src]="localhost+i.path">
                <p></p>
                <!-- <img class="post-image" src="../../assets/image/bg.png" alt="Post Image 1">
                <img class="post-image" id="image-2" src="../../assets/image/bg.png" alt="Post Image 2"> -->
            </div>
        </div>
    </div>
</div>